/bot
/bot2
/fullstack
/node-first-ulbi
/node-postgres
/react-calc
/react-first-ulbi
/react-ts
/react-ts-final-start
/site
/tg-back-shop
/tg_front_shop
/ts
/vs мусор
/домашняя работа по литературе
/домашняя работа по литературе.zip
/мусор ебанный